*{
    margin: 0;
    padding: 0;
}

body{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Top{background-color: gray;
    height: 120px;
    margin-bottom: 30px;
    font-size: 18px;
}

p{
    font-size: 19px;
}

.lista{
    text-align: center;
    padding: 25px;
}

.list{
    display: inline;
}

#Meio{background-color: aquamarine;
    padding: 10px;
    height: 100px;
    margin-bottom: 30px;
    text-align: center;
}

#Meio2{background-color: aquamarine;
    padding: 10px;
    height: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.meio3{
    background-color: rgb(119, 0, 255);
    font-size: 18px;
}

.produto{margin: 10px; background-color: brown; font-size: 18px;}

#Rodapé{background-color: darkolivegreen;
    padding: 10px;
    height: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.assinatura1{background-color: rgb(255, 238, 0); font-size: 19px;}
.assinatura2{background-color: blue; font-size: 19px;}