*{
    margin: 0;
    padding: 0;
}

body{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
    text-align: center;
}



.vermelho{
    color: rgb(196, 2, 2);
}

p.verde{
    color: rgb(18, 78, 0);
}